
.wrapper {
    max-width: 400px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table td {
    border-bottom: 1px solid #666666;
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.flex-grow {
    flex-basis: 0;
    flex-grow: 1;
}

.d-block {
    display: block;
}

.vr-1 { height: 2px; }
.vr-2 { height: 4px; }
.vr-3 { height: 8px; }
