
.wrapper {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th {
    font-weight: bold;
    text-align: left;
}

.table td, .table th {
    border-bottom: 1px solid currentColor;
}

.w-1\/2 { width: 50%; }
.w-full { width: 100%; }

.flex { display: flex; }

.items-center { align-items: center; }

.grow { flex-grow: 1; }

.m-0 { margin: 0; }
.mr-2 { margin-right: 0.5rem; }

.p-0 { padding: 0; }
.p-1 { padding: 0.25rem; }
.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.pb-8 { padding-bottom: 2rem; }

.font-bold { font-weight: bold; }

.text-center { text-align: center; }

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.opacity-50 { opacity: 0.5; }

.cursor-grab { cursor: grab; }
.cursor-grabbing { cursor: grabbing; }

.touch-none { touch-action: none; }

.rounded-r-none	{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
